<template>
    <div class="container">
        <router-link :to="{name:'home'}">&larr; Back to home</router-link>
        <div class="page-header">
            <h1>Create todo</h1>

            <form @submit.prevent="createTodo">
                <div class="form-group">
                    <label for="todo">Todo item</label>
                    <input type="text" id="todo" v-model="create.name" placeholder="Make a cup of coffee..."
                           class="form-control">
                </div>
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
            </form>

        </div>
    </div>
</template>

<script>
    export default {
        name: "create-todo",
        data(){
            return {
                create: {
                    name: null
                }
            }
        },
        mounted(){

        },
        methods: {
            createTodo(){
                axios.post('/todo', this.create)
                    .then(response => {
                        this.create.name = null;
                        this.$router.push({name: 'home'});
                    }).catch(errors => {
                        alert('uh oh!');
                })
            }
        }
    }
</script>