<template>
    <div class="container">
        <router-link :to="{name:'home'}">&larr; Back to home</router-link>
        <div class="page-header">
            <h1>Edit {{ edit.name }}</h1>

            <form @submit.prevent="editTodo">
                <div class="form-group">
                    <label for="todo">Todo item</label>
                    <input type="text" id="todo" v-model="edit.name" placeholder="Make a cup of coffee..."
                           class="form-control">
                </div>
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
            </form>

        </div>
    </div>
</template>

<script>
    export default {
        name: "edit-todo",
        data(){
            return {
                edit: {
                    name: null
                }
            }
        },
        mounted(){
            this.grabData();
        },
        methods: {
            grabData(){
              axios.get('/todo/edit/' + this.$route.params.todo_id)
                  .then(response => {
                     this.edit = response.data;
                  });
            },
            editTodo(){
                axios.post('/todo/' + this.edit.id , this.edit)
                    .then(response => {
                        this.$router.push({name: 'home'});
                    }).catch(errors => {
                        alert('uh oh!');
                })
            }
        }
    }
</script>