<template>
    <div class="container">
        <div class="page-header">
            <h1>Todos</h1>
            <router-link class="btn btn-primary" :to="{name:'create'}">Create new Todo</router-link>

            <hr>

            <nav class="list-group">
                <div :class="{'list-group-item': true, 'striked': todo.completed_at !== null }" v-for="todo in
                orderedTodos">
                    <input type="checkbox" :checked="(todo.completed_at !== null ? 'checked' : '' )"
                           @click="toggleTodo(todo)">
                    {{ todo.name }}
                    <span class="pull-right">
                        <router-link :to="{name: 'edit', params: {todo_id: todo.id}}">Edit</router-link>
                        <a @click="deleteMe(todo)">Delete</a>
                    </span>
                </div>
            </nav>

        </div>
    </div>
</template>

<script>
    export default {
        computed:{
          orderedTodos(){
              return _.orderBy(this.todos, 'completed_at', 'desc')
          }
        },
        mounted() {
            this.grabData();
        },
        data() {
            return {
                todos: []
            }
        },
        methods: {
            grabData() {
                axios.get('/todos')
                    .then(response => {
                        this.todos = response.data;
                    })
            },
            toggleTodo(todo){
                axios.get('/todo/' + todo.id)
                    .then(response => {
                        todo.completed_at = response.data.completed_at;
                    })
            },
            deleteMe(todo)
            {
                axios.delete('/todo/' + todo.id)
                    .then(response => {
                        this.todos = this.todos.filter(function(item){
                           return item.id !== todo.id;
                        });
                    });
            }
        }
    }
</script>
